<!-- Intro Section -->

<%= render 'pages/intro' %>

<div class="container"><br/></div>

<!-- Intro Section -->

<%= render 'pages/about' %>

<div class="container"><br/></div>

<!-- ID Section -->
    
<%= render 'pages/menu' %>

<div class="container"><br/></div>

<!-- Entrepreneur Section -->

<%= render 'pages/galeria' %>

<div class="container"><br/></div>

<!-- Photo Section -->
    
<%= render 'pages/contacto' %>
           
<div class="container"><br/></div>

