<!-- Intro Section -->

<%= render 'pages/intro' %>

<div class="container"><hr/ class="col-md-6 col-md-offset-3"></div>

<!-- Intro Section -->

<%= render 'pages/about' %>

<div class="container"><hr/ class="col-md-6 col-md-offset-3"></div>
<!-- ID Section -->
    
<%= render 'pages/menu' %>

<div class="container"><hr/ class="col-md-6 col-md-offset-3"></div>

<!-- Entrepreneur Section -->

<%= render 'pages/galeria' %>

<div class="container"><hr/ class="col-md-6 col-md-offset-3"></div>
<!-- Photo Section -->
    
<%= render 'pages/contacto' %>
